@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>SignalR Simple Chat</title>
</head>
<body>

    <div id="game">
        <input data-bind="value: Body" />
        <button data-bind="click: Send">Send</button>
        <ul data-bind="foreach: Messages">
            <li>
                <span data-bind="text: name"></span>
                <span data-bind="text: body"></span>
            </li>
        </ul>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="//ajax.aspnetcdn.com/ajax/knockout/knockout-2.2.1.js"></script>
    <script src="~/Scripts/game.js"></script>
</body>
</html>